@import "../utils/global-style.css";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-family: "Winky Sans", sans-serif;
  position: relative;
}

.logo {
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.search {
  padding: 3px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.search input {
  border: none;
}

.search button {
  border: none;
}

.cart{
  padding: 3px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.cart button{
  border: none;
}
.profile{
  padding: 3px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.profile button{  
  border: none;
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: var(--tertiary-color);
  cursor: pointer;
}

/* Estilos responsivos */

@media (max-width: 375px) {
  nav {
    display: flex;
    gap: 5px;
  }

  .search{
    display: flex;
  }
  .search button{
    width: 30%;
  }
}

@media (max-width: 946px) {
  .menu-btn {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
  }

  ul.open {
    display: flex;
  }
}

@media (min-width: 947px) {
  .menu-btn {
    display: none;
  }

  ul {
    display: flex;
  }
}

@media (max-width: 581px) {
  .logo,
  .cart {
    display: none;
  }
}