@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --mobile: 375px;
  --tablet: 870px;
  --desktop: 1024px;
  --large-desktop: 1440px;

  --primary-color: #477081;
  --secondary-color: #efb475;
  --tertiary-color: #f0f3fc;
  --font-size: 16px;
}